VITE_FIREBASE_PROJECT_ID=classic-brand-co
VITE_FIREBASE_API_KEY=AIzaSyDG0uBs6mnms86QTe-qOyXd0ZhEU4ZkHo8
VITE_FIREBASE_AUTH_DOMAIN=classic-brand-co.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=classic-brand-co.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=39527851830
